@font-face {
    font-family: 'Black Chancery';
    src: url('BlackChancery.woff2') format('woff2'),
        url('BlackChancery.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

